In [1]:
import pandas as pd
path="melb_data.csv"
data=pd.read_csv(path)
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [2]:
y=data.Price

In [23]:
melb_features=data.drop(['Price'], axis=1)
X=melb_features.select_dtypes(exclude=[object])
X

,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
0,2,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,-37.79960,144.99840,4019.0
1,2,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,-37.80790,144.99340,4019.0
2,3,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,-37.80930,144.99440,4019.0
3,3,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,-37.79690,144.99690,4019.0
4,4,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,-37.80720,144.99410,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...
13575,4,16.7,3150.0,4.0,2.0,2.0,652.0,NaN,1981.0,-37.90562,145.16761,7392.0
13576,3,6.8,3016.0,3.0,2.0,2.0,333.0,133.0,1995.0,-37.85927,144.87904,6380.0
13577,3,6.8,3016.0,3.0,2.0,4.0,436.0,NaN,1997.0,-37.85274,144.88738,6380.0
13578,4,6.8,3016.0,4.0,1.0,5.0,866.0,157.0,1920.0,-37.85908,144.89299,6380.0
13579,4,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,-37.81188,144.88449,6543.0

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid=train_test_split(X,y, train_size=0.8, test_size=0.2)

In [5]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
def selection(X_train, X_valid, y_train, y_valid):
    model=RandomForestRegressor()
    model.fit(X_train,y_train)
    predections=model.predict(X_valid)
    return mean_absolute_error(predections,y_valid)

### column dropping techniques

In [6]:
col_missing_data=[
    col for col in X_train.columns
    if X_train[col].isnull().any()
]
col_missing_data

['Car', 'BuildingArea', 'YearBuilt']

In [7]:
Dropped_X_train=X_train.drop(col_missing_data, axis=1)
Dropped_X_valid=X_valid.drop(col_missing_data, axis=1)

In [8]:
Dropped_X_train

,Rooms,Distance,Postcode,Bedroom2,Bathroom,Landsize,Lattitude,Longtitude,Propertycount
2194,3,13.9,3108.0,3.0,1.0,192.0,-37.78370,145.10270,9028.0
669,2,9.2,3104.0,2.0,1.0,1075.0,-37.79530,145.07120,7809.0
967,4,13.9,3165.0,3.0,2.0,651.0,-37.91900,145.05580,10969.0
7085,3,14.5,3047.0,3.0,1.0,598.0,-37.68780,144.91120,851.0
1755,3,11.4,3163.0,3.0,1.0,620.0,-37.90310,145.05780,7822.0
...,...,...,...,...,...,...,...,...,...
12356,4,6.2,3039.0,4.0,2.0,465.0,-37.76306,144.92851,6232.0
11611,4,5.2,3056.0,4.0,3.0,733.0,-37.75900,144.96623,11918.0
5090,2,11.2,3073.0,2.0,1.0,137.0,-37.72410,145.01140,21650.0
12963,4,7.2,3185.0,4.0,2.0,390.0,-37.88785,145.00795,4898.0
10493,4,19.9,3134.0,4.0,2.0,798.0,-37.79395,145.21878,3619.0

In [9]:
print("MAE from dropping table is :", selection(Dropped_X_train,Dropped_X_valid, y_train, y_valid))

MAE from dropping table is : 180405.42756487662

### from imputation

In [10]:
from sklearn.impute import SimpleImputer
myImputer=SimpleImputer()
imputed_X_train=pd.DataFrame(myImputer.fit_transform(X_train))

In [11]:
imputed_X_valid=pd.DataFrame(myImputer.fit_transform(X_valid))

In [12]:
print("MAE from dropping table is :", selection(Dropped_X_train,Dropped_X_valid, y_train, y_valid))
print("MAE from imputing table is :", selection(imputed_X_train,imputed_X_valid, y_train, y_valid))

MAE from dropping table is : 181868.53236216307
MAE from imputing table is : 176176.79147836455

### extension of imputing:

In [13]:
X_train_new=X_train.copy()
X_valid_new=X_valid.copy()

In [14]:
for col in col_missing_data:
    X_train_new[col+'_was missing']=X_train_new[col].isnull()
    X_valid_new[col+'_was missing']=X_valid_new[col].isnull()

In [15]:
imputed_X_train_new=pd.DataFrame(myImputer.fit_transform(X_train_new))
imputed_X_valid_new=pd.DataFrame(myImputer.fit_transform(X_valid_new))
imputed_X_train_new.columns=X_train_new.columns
imputed_X_valid_new.columns=X_valid_new.columns

In [16]:
print("MAE from dropping table is :", selection(Dropped_X_train,Dropped_X_valid, y_train, y_valid))
print("MAE from imputing table is :", selection(imputed_X_train,imputed_X_valid, y_train, y_valid))
print("MAE from extension imputing table is :", selection(imputed_X_train_new,imputed_X_valid_new, y_train, y_valid))

MAE from dropping table is : 179790.65068494753
MAE from imputing table is : 174894.786046532
MAE from extension imputing table is : 176592.48076074757

In [17]:
import pandas as pd
path="melb_data.csv"

In [18]:
data=pd.read_csv(path)

In [19]:
data

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [22]:
data.dropna(axis=1)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Landsize,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,202.0,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,156.0,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,134.0,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,94.0,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,120.0,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,4.0,2.0,652.0,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,3.0,2.0,333.0,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,3.0,2.0,436.0,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,4.0,1.0,866.0,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,4.0,1.0,362.0,-37.81188,144.88449,Western Metropolitan,6543.0